/control_analysis_flowcharts.png
/damping_plate_flowchart.png
/dimensions.jpg
/equivalent_stiffness.png
/FBD.jpg
/graphical_abstract_modeling.png
/MEEM_geometry.jpg
/methodology_flowchart.png
/optimization_flowchart.jpg
/RM3_image.png
/section_flow.png
/sim_runtime.png
/trapezoid.png
/xdsm.png
/drag_damping_integral.svg
/drag_exc_mag_integral.svg
/drag_exc_phase_integral.svg
