# To make this file take effect, run:
# git config --local include.path "../.gitconfig"
[alias]
    stale = !calkit list stages --stale # list stale stages
    comp = !calkit check pipeline -c    # compile calkit.yaml to dvc.yaml