[submodule "mdocean/simulation/modules/OpenFLASH"]
	path = mdocean/simulation/modules/OpenFLASH
	url = https://github.com/symbiotic-engineering/OpenFLASH.git
[submodule "mdocean/SAFE"]
	path = mdocean/SAFE
	url = https://github.com/SAFEtoolbox/SAFE-matlab.git
