* text=auto eol=lf

#dvc.lock merge=ours
# For this setting to be used, you must run 
# `git config --global merge.ours.driver true` locally. 
# Replace ours with theirs if desired.

dvc.lock merge=dvclock
# For this setting to be used, you must run 
# `git config merge.dvclock.driver "python dev/dvc_lock_merge.py %O %A %B"` locally.