* text=auto eol=lf
dvc.lock merge=ours # For this setting to be used, you must run 
                    # `git config --global merge.ours.driver true` locally. 
                    # Replace ours with theirs if desired.