/control_analysis_flowcharts.pdf
/damping_plate_flowchart.pdf
/dimensions.pdf
/equivalent_stiffness.pdf
/FBD.pdf
/graphical_abstract_modeling.pdf
/MEEM_geometry.pdf
/methodology_flowchart.pdf
/optimization_flowchart.pdf
/RM3_image.pdf
/section_flow.pdf
/sim_runtime.pdf
/trapezoid.pdf
/xdsm.pdf
/taxonomy.pdf
