# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push events for any branch
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest # self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout branch
        uses: actions/checkout@v4
        if: always()
        with:
          path: MDOcean

      - name: Checkout WEC-Sim
        uses: actions/checkout@v4
        if: always()
        with:
          repository: WEC-Sim/WEC-Sim
          path: WEC-Sim
          ref: dev

      - name: Check validity of citation.cff
        uses: citation-file-format/cffconvert-github-action@2.0.0
        if: always()
        with:
          args: "-i ./MDOcean/CITATION.cff -f zenodo --validate --show-trace"

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        if: always()
        with:
            products: >
                Parallel_Computing_Toolbox
                Global_Optimization_Toolbox
                Optimization_Toolbox
                Statistics_and_Machine_Learning_Toolbox
                MATLAB_Report_Generator
                Simulink
                Simscape
                Simscape_Multibody

      - name: Add MATLAB to path on self-hosted runner
        if: runner.os == 'Linux' && runner.name == 'lab-computer-becca'
        run: echo "/usr/local/MATLAB/R2024b/bin" >> $GITHUB_PATH

      - name: Run tests and generate artifacts
        uses: matlab-actions/run-command@v2
        if: always()
        with:
          command: cd("MDOcean"), addpath("tests"), run_tests

      - name: Publish code coverage to codecov
        uses: codecov/codecov-action@v4
        if: always()
        with:
          fail_ci_if_error: true
          directory: MDOcean/code-coverage
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Publish test report to codecov
        uses: codecov/test-results-action@v1
        if: always()
        with:
          fail_ci_if_error: true
          directory: MDOcean/test-results
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Publish test report to GitHub UI
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          report_paths: 'MDOcean/test-results/**/junit.xml'

      - name: Upload test report PDF
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: |
            MDOcean/test-results/**/junit.xml
            MDOcean/test-results/**/testreport.pdf
            MDOcean/test-results/**/table_*.tex
            MDOcean/code-coverage/**/coverage.xml
            MDOcean/**/DynamicValidation_*.pdf
            MDOcean/test-results/Figure_*.pdf
            MDOcean/mdocean/optimization/multiobjective/pareto_search_results_*.mat
            MDOcean/**/wecsim_*.mat

      - name: Get baseline test results (for PR, use base branch, for non-PR, use main branch)
        if: always()
        uses: dawidd6/action-download-artifact@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.event_name == 'pull_request' && github.base_ref || 'ci-test-change' }} # 'main' }}
          path: MDOcean/test-results-baseline
          workflow_conclusion: completed
          check_artifacts: true

      - name: Compare test results to base branch
        if: always()
        run: |
          ls MDOcean/test-results-baseline/test-report/test-results
          python MDOcean/tests/junit_regression.py MDOcean/test-results-baseline/test-report/test-results/**/junit.xml MDOcean/test-results/**/junit.xml MDOcean/test-results-baseline/delta-junit.xml
          cat MDOcean/test-results-baseline/delta-junit.xml
        shell: bash

      - name: Publish changed tests to GitHub UI
        if: always()
        uses: mikepenz/action-junit-report@v5
        with:
          report_paths: 'MDOcean/test-results-baseline/delta-junit.xml'
          job_name: 'Changed Tests'
